@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark {
  --background: var(--color-neutral-950);
  --foreground: #ffffff;
}

/* vanilla css way  */
/* .animate-me {
              keyframe               runtime 
  animation:  animate-i 100s linear infinite;
                        time ease-in-function 
}
@keyframes animate-i {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
} */

@theme {
  --animate-marque: marque 10s linear infinite;
  @keyframes marque {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}