@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  height: 100vh;
/* v3.tailwindcss.com -> color palette */
/* direction, starting color, middle color, ending color */
  background-image: linear-gradient(to bottom, white,  #dbeafe, white);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0px;
}

.logo {
  font-size: 30px;
}

.links {
  display: flex;
  align-items: center;
  gap: 46px;
}

.links-item {
  font-size: 25px;
  text-decoration: none;
  color: #525252;
}

.links-item:hover {
  color: black;
  transition: color 0.2s ease-in-out;
}

.btn {
  all: unset;  /* remove all default styles */
  font-size: 16px;
  padding: 8px 16px;
  background-color: #3b82f6;
  border-radius: 8px;
  color: #FFFFFF;
  text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero-root {
  padding: 100px 0px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  max-width: 300px;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 8px 16px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}

.badge:hover {
  background-color: #e5e5e5;
  transition: color 0.2s ease-in-out;
}

.hero-title {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1.1;
  margin-top: 60px;
}

.hero-description {
  font-size: 25px;
  color: #737373;
  text-align: center;
  max-width: 600px;
  margin: 25px auto;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.btn-secondary {
  all: unset;
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: #e5e5e5;
    transition: color 0.2s ease-in-out;
  }
}

.left-line {
  height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
  position: absolute;
  left: -10px;
  opacity: 0.5;
}

.right-line {
  height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
  position: absolute;
  right: -10px;
  opacity: 0.5;
}